<!-- Header
		============================================= -->
<header id="header" class="transparent-header no-sticky">
  <div id="header-wrap">
    <div class="container">
      <a href="{{ '/' | relative_url }}"
        ><img src="{{ 'assets/images/logo.png' | relative_url }}" alt="Canvas Logo" height="100"
      /></a>
    </div>
    <div>
      <div class="primary-menu-trigger hamburger">
        <i class="icon-line-menu"></i>
        <i class="icon-line-cross"></i>
      </div>
      <div class="global-menu">
        <div class="global-menu__wrap">
          <a class="global-menu__item" href="{{'/index.html' | relative_url}}">Home</a>
          <a class="global-menu__item" href="{{'/products' | relative_url}}">Products</a>
          <a class="global-menu__item" href="{{'/contact' | relative_url}}">Contact</a>
        </div>
      </div>
      <svg
        class="shape-overlays"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
      </svg>
    </div>
  </div>
</header>
<!-- #header end -->
