

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up bgcolor"></div>


	<!-- External JavaScripts
	============================================= -->
	<script src="{{'assets/js/plugins.js' | relative_url }}"></script>

	<!-- Photograph Hover Plugin
	============================================= -->
	<script src="{{'assets/js/hover3d.js'  | relative_url }}" ></script>

	<!-- Menu Open Plugin
	============================================= -->
	<script src="{{'assets/js/menu-easing.js'  | relative_url }}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{{'assets/js/functions.js'  | relative_url }}"></script>

	<!-- Netlify Indentity Widget to handle Authentication-->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


	<script>

		// Hover Script
		jQuery(".img-hover-wrap").hover3d({
			selector: ".img-hover-card",
			shine: false,
		});

	</script>