
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up bgcolor"></div>


	<!-- External JavaScripts
	============================================= -->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/plugins.js"></script>

	<!-- Photograph Hover Plugin
	============================================= -->
	<script src="demos/writer/js/hover3d.js" ></script>

	<!-- Menu Open Plugin
	============================================= -->
	<script src="assets/js/menu-easing.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="assets/js/functions.js"></script>

	<script>

		// Hover Script
		jQuery(".img-hover-wrap").hover3d({
			selector: ".img-hover-card",
			shine: false,
		});

	</script>