---
layout: default
---

<!-- Page Loader, stretched (body)
  ============================================= -->

<!-- Document Wrapper
  ============================================= -->
<div id="wrapper" class="clearfix">
  <!-- Content
  ============================================= -->
  <section id="content" class="clearfix">
    <div class="content-wrap notoppadding">
      <!-- Flip Card Sections
  ============================================= -->
      <div id="products" class="section notopmargin">
        <div class="container clearfix">
          <div class="justify-content-between">
            <div class="col-lg-6 offset-md-1 mb-4">
              <small class="text-muted uppercase t300 ls3 d-block"
                >Some of Featured Items</small
              >
              <h2 class="t700 ls0 mb-3" style="font-size: 46px;">
                Products.
              </h2>
            </div>

            <div class="row grid-6">

            {% for product in site.products %}
               
              <!-- Shop Item 
                ============================================= -->
              <div class="col-lg-2 col-md-3 col-6 px-2">
                <div class="product iproduct clearfix">
                  <div class="product-image">
                    <a href="{{ product.url }}" 
                      ><img src="{{ product.image }}" alt="Image 1"
                    /></a>
                    <a href="{{product.url}}"
                      ><img src="{{ product.image }}" alt="Image 1"
                    /></a>
                    <div class="sale-flash">Sale!</div>
                    <div class="product-overlay">
                      <a href="{{ product.purchase-url }}" class="add-to-cart"
                        ><i class="icon-shopping-cart"></i
                        ><span> Add to Cart</span></a
                      >
                      <a
                        href="{{ product.url }}"
                        class="item-quick-view"
                        data-lightbox="ajax"
                        ><i class="icon-line-search"></i
                        ><span>Quick View</span></a
                      >
                    </div>
                  </div>
                  <div class="product-desc center">
                    <div class="product-title mb-1">
                      <h3><a href="{{ product.url }}">{{ product.name }}</a></h3>
                    </div>
                    <div class="product-price font-primary">
                      <del class="mr-1"></del> <ins>{{ product.price }}</ins>
                    </div>
                    <!-- <div class="product-rating">
                      <i class="icon-star3"></i>
                      <i class="icon-star3"></i>
                      <i class="icon-star3"></i>
                      <i class="icon-star-half-full"></i>
                      <i class="icon-star-empty"></i>
                    </div> -->
                  </div>
                </div>
              </div>
            {% endfor %}


            </div>
          </div>
        </div>
      </div>

      <!-- Section Photographs
  ============================================= -->
      <div
        class="section nobg"
        style="background: #FFF url('/assets/images/dots.png') 170% 0% no-repeat / 60%;"
      >
        <div class="container">
          <div class="col-lg-6 offset-lg-1 mb-5">
            <small class="text-muted uppercase t300 ls3 d-block"
              >What we provide</small
            >
            <h2 class="t700 ls0 mb-3" style="font-size: 46px;">
              Categories.
            </h2>
            <!-- <p class="text-muted" style="font-size: 16px;">
              Simple ladies, you will be sweet and sexy for him. Love it, take
              it, wear it and be the centre of his attention.
            </p> -->
          </div>

          <div class="row grid-container clearfix" style="overflow: visible;">

            <!-- Photographs
  ============================================= -->
            {% for category in site.categories reversed %}
            <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
              <div class="img-hover-card">
                <a href="{{ category.url }}" 
                  ><img src="{{ category.image }}" alt=""
                /></a>
                <div class="img-hover-detail">
                  <small class="text-light ls1 t300">{{ category.pretext }}</small>
                  <h3 class="img-hover-title"><a href="#">{{ category.name }}</a></h3>
                  <div class="img-link">
                    <a href="{{ category.url }}"><i class="icon-line-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- Photographs
  ============================================= -->

            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/5.jpg" data-lightbox="image"><img src="assets/images/album/5.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Elegant</small>
  <h3 class="img-hover-title"><a href="#">Skirts</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/6.jpg" data-lightbox="image"><img src="assets/images/album/6.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Sweet</small>
  <h3 class="img-hover-title"><a href="#">Shirts</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/7.jpg" data-lightbox="image"><img src="assets/images/album/7.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Sweet &amp; Sexy</small>
  <h3 class="img-hover-title"><a href="#">Bras</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/8.jpg" data-lightbox="image"><img src="assets/images/album/8.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Cute</small>
  <h3 class="img-hover-title"><a href="#">Pyjamas</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/9.jpg" data-lightbox="image"><img src="assets/images/album/9.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Hot</small>
  <h3 class="img-hover-title"><a href="#">Panties</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/10.jpg" data-lightbox="image"><img src="assets/images/album/10.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Seductively Hot</small>
  <h3 class="img-hover-title"><a href="#">Lingeries</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/11.jpg" data-lightbox="image"><img src="assets/images/album/11.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Fashion</small>
  <h3 class="img-hover-title"><a href="#">Fitness</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
            <!-- Photographs
  ============================================= -->
            <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
              <!-- <div class="img-hover-card">
  <a href="assets/images/album/12.jpg" data-lightbox="image"><img src="assets/images/album/12.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Business</small>
  <h3 class="img-hover-title"><a href="#">Organizers</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
              <!-- Photographs
  ============================================= -->
              <!-- <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
  <div class="img-hover-card">
  <a href="assets/images/album/13.jpg" data-lightbox="image"><img src="assets/images/album/13.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Travel</small>
  <h3 class="img-hover-title"><a href="#">Street Picture</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
              <!-- Photographs
  ============================================= -->
              <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
                <!-- <div class="img-hover-card">
  <a href="assets/images/album/14.jpg" data-lightbox="image"><img src="assets/images/album/14.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Street</small>
  <h3 class="img-hover-title"><a href="#">Budapest, Hungry</a></h3>
  <div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
  </div>
  </div>
  </div> -->
                <!-- Photographs
  ============================================= -->
                <div class="col-lg-4 col-sm-6 mb-4 rounded img-hover-wrap">
                  <!-- <div class="img-hover-card">
  <a href="assets/images/album/15.jpg" data-lightbox="image"><img src="assets/images/album/15.jpg" alt=""></a>
  <div class="img-hover-detail">
  <small class="text-light ls1 t300">Candid</small>
  <h3 class="img-hover-title"><a href="#">Street Picture</a></h3> -->
                  <div class="img-link">
                    <a href="#"><i class="icon-line-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Titles
  ============================================= -->
          <!-- <div class="row mt-5">
  <div class="col-sm-6 offset-sm-1">
  <h2 class="t700 ls0 mb-3" style="font-size: 38px;">More Coming Soon..</h2>
  <p class="text-muted" style="font-size: 16px;"></p>
  </div>
  </div> -->
        </div>
      </div>

      {%comment%} {% include counter.html %} {% endcomment %} {%comment%} {%
      include services.html %} {% endcomment %}

      <!-- Contact Section
  ============================================= -->
      <div class="section nobottommargin ">
        <div class="container">
          <div class="row justify-content-between mt-5">
            <!-- Heading Title
  ============================================= -->
            <div class="col-md-6">
              <small class="text-muted uppercase t300 ls3 d-block"
                >Let's Say Hi!</small
              >
              <h2
                class="t700 ls0 mb-3"
                style="font-size: 64px; line-height: 1.2"
              >
                Contact Me Here.
              </h2>
              <p class="text-muted" style="font-size: 16px;">
                If there are any questions regarding items and stlyes. You can
                contact me here.
              </p>
              <div class="d-flex align-items-center mt-4">
                <a
                  href="/contact"
                  class="button button-change button-large button-rounded nott t300 m-0 ohidden"
                >
                  <span><i class="icon-line2-envelope"></i> Contact Us</span>
                  <span><i class="icon-line2-envelope"></i> Contact Us</span>
                </a>
                <a
                  href="http://facebook.com/semicolonweb"
                  target="_blank"
                  class="my-0 ml-3 social-icon inline-block si-small si-borderless si-facebook"
                >
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a
                  href="http://twitter.com/__semicolon"
                  target="_blank"
                  class="my-0 ml-1 social-icon inline-block si-small si-borderless si-twitter"
                >
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a
                  href="http://instagram.com/semicolonweb"
                  target="_blank"
                  class="my-0 ml-1 social-icon inline-block si-small si-borderless si-instagram"
                >
                  <i class="icon-instagram"></i>
                  <i class="icon-instagram"></i>
                </a>
              </div>
            </div>

            <!-- Testimonials
  ============================================= -->
            <!-- <div class="col-md-5 mt-5 mt-md-0">
              <h5 class="pl-4 t400">What Clients Says:</h5>
              <div
                id="oc-testi"
                class="owl-carousel testimonials-carousel carousel-widget pl-4"
                data-margin="0"
                data-nav="false"
                data-pagi="false"
                data-items="1"
                data-autoplay="6000"
                data-loop="true"
                data-animate-in="fadeIn"
              >
                <div class="oc-item">
                  <div class="testimonial nobg noshadow noborder p-3">
                    <div class="testi-content">
                      <p>
                        These products are real quality, I gaurentee others will
                        absolutely love them!
                      </p>
                      <div class="testi-meta ls1 mt-3 mb-0">
                        Samantha Jack
                      </div>
                    </div>
                  </div>
                </div>
                <div class="oc-item">
                  <div class="testimonial nobg noshadow noborder p-3">
                    <div class="testi-content">
                      <p>
                        My wife really loved the dress I bought for her
                        birthday. I'm forever grateful.
                      </p>
                      <div class="testi-meta ls1 mt-3 mb-0">
                        Bailey Wonger
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #content end -->
</div>
<!-- #wrapper end -->
